table{
    width: 97%;
    margin: auto;
}

th{
    width: 20%;
}

.acciones{
    text-align: right;
}

.cursor{
    cursor: pointer;
}

app-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}