table{
    width: 97%;
    margin: auto;
}

th{
    width: 20%;
}

.acciones{
    text-align: right;
}

.cursor{
    cursor: pointer;
}

.decoration{
    text-decoration: none;
}

.text-add{
    color: rgb(36, 63, 219);
}

.information{
    color: cornflowerblue;
}

app-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}