<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a class="text-white" mat-list-item href="#">Inicio</a>
      <a routerLink="crear-alumno" class="text-white" mat-list-item href="#">Agregar alumno</a>
      <a routerLink="../" class="text-white" mat-list-item href="#">Cerrar sesión</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="navbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon class="text-white" aria-label="Side nav toggle icon">menu_open</mat-icon>
      </button>
      <span class="text-white">EduTech</span>
      <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
        <mat-icon class="text-white">account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Mi perfil</button>
        <button routerLink="../" mat-menu-item>Cerrar sesión</button>
      </mat-menu>
    </mat-toolbar>
    <!-- "Contenido" -->
    <app-inicio></app-inicio>
  </mat-sidenav-content>
</mat-sidenav-container>
