:root{
    --primary: #3f51b5;
  }
  
  .d-flex{
    height: 100%;
    background-color: var(--primary);
    width: 280px;
  }
  
  .container-fluid{
    margin-top:30px;
  }
  
  li{
    margin-top:20px;
  }